[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==5.0.1"
django-filter = "==23.5"
django-cors-headers = "==4.3.1"
django-extensions = "==3.2.3"
python-decouple = "==3.8"
psycopg2-binary = "==2.9.9"
py = "==1.11.0"
whitenoise = "==6.6.0"
django-jazzmin = "==2.6.0"
gunicorn = "==20.1.0"

[dev-packages]

[requires]
python_version = "3.10"
